.location{
    width: 100%;
    max-width: 500px;
    background-color: var(--firt-color);
    border-radius: .8em;
    padding: 1.5em 2em 2em;
    margin-inline: auto;
    margin-bottom: 3em;

    .location__name{
        text-align: center;
        color: var(--color-green);
        font-size: 1.8rem;
        margin-bottom: 0.8em;
    }

    .location__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 1em;
        
    }

    .location__item{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;

    }

    .location__label{
        font-weight: 500;
    }

    .locaion__value{
        color: #999;
        font-weight: 300;
    }
}