.resident{
    width: 100%;
    max-width: 350px;
    border-radius: 0.8em;
    overflow: hidden;
    background-color: var(--firt-color);
    transition:  transform 1.5s ease;

    &:hover{
        transform: scale(1.03);

    }

    .resident__header{
        width: 100%;
        aspect-ratio: 1;
        position: relative;
    }

    .status{
        position: absolute;
        top: 12%; /*12*/
        left: 0;
        width: 30%; /*40*/
        padding: 0.3em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        background-color: var(--firt-color-transparent);
        border-radius: 0 0.5em 0.5em 0;
        animation: aparecer 2s ease-in-out;

        .status__circle{
            width: 1.5em;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--color-greys);
        }

        .Alive{
            background-color: var(--color-green);
        }

        .Dead{
            background-color: var(--color-red);
        }
    }

    .resident__body{
        padding: 1.5em 1.5em 2em;

        .resident__name{
            text-align: center;
            font-weight: 700;

        }

        .resident__hr{
            margin-top: 1em;
            margin-bottom: 1em;
            border-color: var(--color-greys-transparent)
        }

        .resident__list{
            display: grid;
            gap: 1em;
        }

        .resident__item{
            display: flex;
            flex-direction: column;
            gap: 0.2em;
        }

        .resident__label{
            padding-left: 1em;
            color: var(--color-greys-transparent);
            font-weight: 500;
        }

        .resident__value{
            font-weight: 300;
        }
    }
}

@keyframes aparecer {
    from {
      opacity: 0; 
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }